# Deaths Analysis 2019

Checking on the patients that died in our cohort. Specifically looking for any that died within 24 hours of being admitted.

In [46]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Format the data

Reading in files that were pulled and saved from BQ.

`cohorts_2019_deaths.csv` and `cohort_2018_prior_deaths.csv` pull the demographics table for our cohort with the death date included. If the death date is NaN, then the individual is considered alive.

The 2018 data was pulled from the initial database, and then 2019 data was pulled from a later release.

In [47]:
# read in files that we need
datadir  = "../../DataTD"
# point to directory with saved data files
deaths = pd.read_csv("{}cohort_2019_deaths.csv".format(datadir))
deaths18 = pd.read_csv("{}cohort_2018_prior_deaths.csv".format(datadir))
cohort = pd.read_csv("{}triage_to_keep_cohort_with_labels_updated.csv".format(datadir))

# labels = pd.read_csv("{}triage_cohort_2019_all_labels.csv".format(datadir))
# cohort = pd.read_csv("{}features_demos_vitals_labs.csv".format(datadir))

# use this to identify test/train set - pulled from Box
results = pd.read_csv("{}lightgbm_test_results_24hr_max.csv".format(datadir))

In [48]:
deaths18.head()
deaths.ANON_ID.nunique()

2389330

In [49]:
# using this to print out dataframes with specific columns hidden

forrepo = 1 # change this to 0 if you want to see hidden columns displayed

hidecols = []
if forrepo:
    hidecols=['anon_id', 'pat_enc_csn_id_coded', 'inpatient_data_id_coded'] # these are hidden columns

In [ ]:
# number of unique anon_id and csns in our cohort to begin with
# 29,891 anon_id
# 43,207 csns
print(cohort.anon_id.nunique())
print(cohort.pat_enc_csn_id_coded.nunique())
# cohort.drop(hidecols, axis=1, errors='ignore').head()

In [ ]:
# how many anon_ids do we have in the deaths table? 28,985
cohort_deaths = deaths[deaths.ANON_ID.isin(cohort.anon_id)]
print(cohort_deaths.ANON_ID.nunique())
# cohort_deaths.head()

In [ ]:
# how many anon_id (aka rit_uid) are in the deaths18 table? 26,670
cohort_deaths = deaths18[deaths18.rit_uid.isin(cohort.anon_id)]
print(cohort_deaths.rit_uid.nunique())
# deaths18.head()

In [53]:
# get the csns that we care about
csns = cohort.pat_enc_csn_id_coded.unique()

# filter labels down to these csns also
labels_2019 = cohort

In [89]:
# get 2018 prior death dates
cohort_deaths18 = deaths18[deaths18.rit_uid.isin(labels_2019.anon_id)]
cohort_deaths18.rename({'rit_uid':'anon_id',
                       'death_date_jittered':'death_date_2018'},
                      inplace=True, axis=1)


# get the 2019 deaths
cohort_deaths19 = deaths[deaths.ANON_ID.isin(labels_2019.anon_id)]
cohort_deaths19.rename({'ANON_ID':'anon_id',
                       'DEATH_DATE_JITTERED':'death_date_2019'},
                      inplace=True, axis=1)
# cohort_deaths19.head()

/home/eulalio/.local/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [90]:
# cohort_deaths18.head()

In [91]:
# join 2018prior and 2019 death dates
all_deaths = cohort_deaths18.merge(cohort_deaths19, how='outer')
# all_deaths.head()

In [92]:
# check out people who have a death date
died = all_deaths[(~all_deaths.death_date_2018.isnull()) | (~all_deaths.death_date_2019.isnull())]
# died

In [58]:
# join the deaths data to labels
labels_deaths = labels_2019.merge(all_deaths, how='left')

# change the dates to datetime
labels_deaths.death_date_2018 = pd.to_datetime(labels_deaths.death_date_2018)
labels_deaths.death_date_2019 = pd.to_datetime(labels_deaths.death_date_2019)

# get the year from the dates
# labels_deaths['death_year_2019'] = pd.DatetimeIndex(labels_deaths['death_date_2019']).year
# labels_deaths['death_year_2018'] = pd.DatetimeIndex(labels_deaths['death_date_2018']).year

# column indicating whether someone died
labels_deaths['died'] = (~labels_deaths.death_date_2018.isnull()) | (~labels_deaths.death_date_2019.isnull())

In [59]:
# take the 2019 date only if 2018prior is NaN
# ie they died during or after 2019

# everyone who died in 2020 or 2019 has their death dates in the 2019 deaths data
labels_deaths[(labels_deaths.died) & 
              (labels_deaths.death_date_2018.isnull())].drop(hidecols, axis=1, errors='ignore').head()

#              (~labels_deaths.death_year_2019.isin([2019,2020]))]

,label_max24,admit_time,admit_label,label_24hr_recent,label_12hr_recent,has_admit_label,first_label,first_label_time_since_admit,acute_to_critical_label,critical_to_acute_label,death_date_2018,death_date_2019,died
33,0,2019-09-12 18:19:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2019-12-15,True
43,0,2017-01-10 01:17:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2020-02-20,True
44,0,2018-03-13 16:25:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2020-02-20,True
84,0,2015-11-08 07:48:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2019-03-07,True
85,0,2015-11-26 20:13:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2019-03-07,True

In [60]:
# keep the earliest death date - will be from 2018prior if it exists 
# DON'T DO THIS! -- all dates are rejittered for the 2019 data so it's okay to just use the 2019 death dates
# labels_deaths['death_date'] = labels_deaths[['death_date_2019', 'death_date_2018']].min(axis=1)

In [61]:
labels_deaths.drop(hidecols, axis=1, errors='ignore').head()

,label_max24,admit_time,admit_label,label_24hr_recent,label_12hr_recent,has_admit_label,first_label,first_label_time_since_admit,acute_to_critical_label,critical_to_acute_label,death_date_2018,death_date_2019,died
0,0,2017-06-24 12:56:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False
1,0,2015-02-18 20:54:00+00:00,0.0,0,0.0,1,0,0,0,0,2018-06-08,2019-01-01,True
2,0,2017-11-08 09:51:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False
3,0,2019-04-17 16:25:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False
4,0,2015-09-15 04:10:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False

In [62]:
# save a copy of the table with death dates from each database pull
to_save = labels_deaths.rename({'death_date_2018':'death_date_starrdatalake2018',
                               'death_date_2019':'death_date_shccore'})
to_save.to_csv("{}labels_deaths_2019_2018_dates.csv".format(datadir))

In [63]:
to_save.drop(hidecols, axis=1, errors='ignore').head()

,label_max24,admit_time,admit_label,label_24hr_recent,label_12hr_recent,has_admit_label,first_label,first_label_time_since_admit,acute_to_critical_label,critical_to_acute_label,death_date_2018,death_date_2019,died
0,0,2017-06-24 12:56:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False
1,0,2015-02-18 20:54:00+00:00,0.0,0,0.0,1,0,0,0,0,2018-06-08,2019-01-01,True
2,0,2017-11-08 09:51:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False
3,0,2019-04-17 16:25:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False
4,0,2015-09-15 04:10:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False

In [64]:
# missing_death2019 = labels_deaths[(labels_deaths.death_date_2019.isnull()) &
#              (~labels_deaths.death_date_2018.isnull())]

# missing_death2019[['anon_id', 'admit_date', 'death_date_2018', 'death_date_2019', 'admit_death_delta']]

In [65]:
labels_deaths['death_date'] = labels_deaths.death_date_2019

In [66]:
# labels_deaths.drop(['death_date_2018', 'death_date_2019', 
#                     'match_2018_2019', 'death_year_2019', 'death_year_2018'],
#                   axis=1, inplace=True)

In [67]:
# find out how much time has passed since admit time and death
labels_deaths['admit_time'] = pd.to_datetime(labels_deaths.admit_time) 
labels_deaths['death_date'] = pd.to_datetime(labels_deaths.death_date)

# get the date from admit time
labels_deaths['admit_date'] = labels_deaths.admit_time.dt.date


labels_deaths['admit_date'] = pd.to_datetime(labels_deaths.admit_date)
# calculate time between death and admit
labels_deaths['admit_death_delta'] = labels_deaths.death_date - labels_deaths.admit_date

labels_deaths.drop(hidecols, axis=1, errors='ignore').head()

,label_max24,admit_time,admit_label,label_24hr_recent,label_12hr_recent,has_admit_label,first_label,first_label_time_since_admit,acute_to_critical_label,critical_to_acute_label,death_date_2018,death_date_2019,died,death_date,admit_date,admit_death_delta
0,0,2017-06-24 12:56:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2017-06-24,NaT
1,0,2015-02-18 20:54:00+00:00,0.0,0,0.0,1,0,0,0,0,2018-06-08,2019-01-01,True,2019-01-01,2015-02-18,1413 days
2,0,2017-11-08 09:51:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2017-11-08,NaT
3,0,2019-04-17 16:25:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2019-04-17,NaT
4,0,2015-09-15 04:10:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2015-09-15,NaT

# Check test cohort

Filter down to the test set and check on number of deaths.

In [68]:
# add column to mark whether csn is in test set
labels_deaths['in_test_set'] = labels_deaths.pat_enc_csn_id_coded.isin(results.pat_enc_csn_id_coded).astype('int')

# test set numbers
# csns = 43,207 total
# test = 33,111
# train = 10,096
print(labels_deaths.pat_enc_csn_id_coded.nunique())
print(labels_deaths.in_test_set.value_counts())

# # save to file
labels_deaths.to_csv("{}full_cohort_2019_deaths_with_labels.csv".format(datadir))

43207
0    33111
1    10096
Name: in_test_set, dtype: int64

In [69]:
labels_deaths.drop(hidecols, axis=1, errors='ignore').head()

,label_max24,admit_time,admit_label,label_24hr_recent,label_12hr_recent,has_admit_label,first_label,first_label_time_since_admit,acute_to_critical_label,critical_to_acute_label,death_date_2018,death_date_2019,died,death_date,admit_date,admit_death_delta,in_test_set
0,0,2017-06-24 12:56:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2017-06-24,NaT,0
1,0,2015-02-18 20:54:00+00:00,0.0,0,0.0,1,0,0,0,0,2018-06-08,2019-01-01,True,2019-01-01,2015-02-18,1413 days,0
2,0,2017-11-08 09:51:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2017-11-08,NaT,0
3,0,2019-04-17 16:25:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2019-04-17,NaT,1
4,0,2015-09-15 04:10:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,NaT,False,NaT,2015-09-15,NaT,0

In [70]:
# filter down to test set
# test_deaths = labels_deaths[labels_deaths.in_test_set]

# print(labels_deaths.pat_enc_csn_id_coded.nunique())
# print(results.pat_enc_csn_id_coded.nunique())
# print(test_deaths.pat_enc_csn_id_coded.nunique())
# test_deaths.head()

# Died within 1 day

Find out which individuals died within 24 hours of being admitted.

If an individual was in non-ICU, but died within 24 hours, change their label to 1. Indicate that these individuals were in a critical condition.

I will add a column called `died_within_24hrs` which can be used to change the existing label columns downstream.

In [71]:
days=1
died_1day = labels_deaths[labels_deaths.admit_death_delta <= timedelta(days=days)]

labels_deaths['died_within_24hrs'] = (labels_deaths.admit_death_delta <= timedelta(days=days)).astype(int)

labels_deaths.sort_values('admit_death_delta').drop(hidecols, axis=1, errors='ignore').head()

,label_max24,admit_time,admit_label,label_24hr_recent,label_12hr_recent,has_admit_label,first_label,first_label_time_since_admit,acute_to_critical_label,critical_to_acute_label,death_date_2018,death_date_2019,died,death_date,admit_date,admit_death_delta,in_test_set,died_within_24hrs
30609,0,2019-06-08 06:06:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2019-01-01,True,2019-01-01,2019-06-08,-158 days,1,1
42149,1,2019-12-30 05:58:00+00:00,0.0,1,0.0,1,0,0,1,0,NaT,2019-12-30,True,2019-12-30,2019-12-30,0 days,1,1
30753,0,2019-06-07 21:15:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2019-06-07,True,2019-06-07,2019-06-07,0 days,1,1
41908,1,2019-12-24 04:00:00+00:00,1.0,0,0.0,1,1,0,0,1,NaT,2019-12-24,True,2019-12-24,2019-12-24,0 days,1,1
23927,0,2019-08-13 00:10:00+00:00,0.0,0,0.0,1,0,0,0,0,NaT,2019-08-13,True,2019-08-13,2019-08-13,0 days,1,1

In [72]:
labels_deaths.died.value_counts()

False    37262
True      5945
Name: died, dtype: int64

In [73]:
## one individual with negative delta -- may be an entry error? **
# maybe remove this individual later??
# everyone else seems fine
died_1day.admit_death_delta.value_counts()

1 days       9
0 days       7
-158 days    1
Name: admit_death_delta, dtype: int64

In [74]:
# how are these individuals distributed as far as admit label goes?
died_1day.admit_label.value_counts()

0.0    9
1.0    7
Name: admit_label, dtype: int64

In [75]:
# how do the recent 24hr labels look?
died_1day.label_24hr_recent.value_counts()

1    11
0     6
Name: label_24hr_recent, dtype: int64

In [76]:
# save the table with the new labels 
cleaned_labels = labels_deaths.drop(['death_date_2018', 'death_date_2019'], axis=1, errors='ignore')
cleaned_labels.died = cleaned_labels.died.astype(int)
cleaned_labels.drop(hidecols, axis=1, errors='ignore').head()

cleaned_labels.to_csv("{}labels_with_death_delta.csv".format(datadir), index=False)

In [77]:
cleaned_labels.pat_enc_csn_id_coded.nunique()

43207

# --- Below this point is for plotting only ---

Will remove this and move to another file later!

# Remake plot for admissions to ICU at each hour

In [78]:
# use this to describe the tables
def describe_df(df):
    print("df shape", df.shape)
    print("unique CSNs: ", df.pat_enc_csn_id_coded.nunique())
    print("unique patients: ", df.anon_id.nunique())

In [93]:
# read in the adt file
adt_file = "{}triage_cohort_adt_2019.csv".format(datadir)
adt = pd.read_csv(adt_file)
describe_df(adt)
adt.head().drop(hidecols, axis=1, errors='ignore')

df shape (992125, 12)
unique CSNs:  52314
unique patients:  34526

,pat_class,pat_lv_of_care,event_type,pat_service,status_of_bed,accomodation,effective_time_jittered_utc,event_time_jittered_utc,seq_num_in_enc,seq_num_in_bed_min
0,Inpatient,Acute Care (Assessment or intervention q4-8),Discharge,Gastroenterology,NaN,Semi-Private,2017-10-31 20:39:00+00:00,2017-10-31 20:39:00+00:00,12,1.0
1,Inpatient,Acute Care (Assessment or intervention q4-8),Discharge,Cystic Fibrosis Adult,NaN,Private,2017-09-22 21:00:00+00:00,2017-09-22 22:11:00+00:00,9,1.0
2,Inpatient,Acute Care (Assessment or intervention q4-8),Transfer In,Interventional Radiology,NaN,Ward,2015-02-11 22:08:00+00:00,2015-02-11 22:08:00+00:00,32,1.0
3,Inpatient,Acute Care (Assessment or intervention q4-8),Transfer In,Thoracic Surgery,NaN,Ward,2019-02-12 01:12:00+00:00,2019-02-12 01:12:00+00:00,6,1.0
4,Inpatient,Intermediate Care - With Cardiac Monitor,Transfer In,Thoracic Surgery,NaN,Intermediate Intensive Care Unit (IICU-Telemetry),2016-09-06 23:01:00+00:00,2016-09-06 23:01:00+00:00,34,1.0

In [80]:
cohort_adt = adt[adt.pat_enc_csn_id_coded.isin(cohort.pat_enc_csn_id_coded)]
describe_df(cohort_adt)

df shape (841226, 12)
unique CSNs:  43207
unique patients:  29891

In [81]:
# change time columns to datetime
cohort_adt.effective_time_jittered_utc = pd.to_datetime(cohort_adt.effective_time_jittered_utc).dt.tz_localize(None)
cohort.admit_time = pd.to_datetime(cohort.admit_time)

/home/eulalio/.local/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [82]:
joined_cohort_adt = cohort.merge(cohort_adt, how='left')

In [83]:
# cut down on space
cols = ['anon_id', 'pat_enc_csn_id_coded', 'label_24hr_recent', 
       'admit_time', 'pat_class', 'pat_lv_of_care', 'pat_service',
       'effective_time_jittered_utc', 'seq_num_in_enc']
joined_cohort_adt_less = joined_cohort_adt[cols]

In [84]:
print(joined_cohort_adt_less.shape)
print(cohort_adt.shape)

(841226, 9)
(841226, 12)

In [85]:
# save the adt table in case we crash again
joined_cohort_adt_less.to_csv("{}joined_cohort_adt_2019.csv".format(datadir))

In [94]:
joined_cohort_adt_less.head().drop(hidecols, axis=1, errors='ignore')

,label_24hr_recent,admit_time,pat_class,pat_lv_of_care,pat_service,effective_time_jittered_utc,seq_num_in_enc
561155,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-01 17:10:00,1
561157,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:32:00,2
561153,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:32:00,3
561156,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:49:00,4
561154,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:49:00,5

In [95]:
# sort the adt table by seqnum in encounter
joined_cohort_adt_less.sort_values(['pat_enc_csn_id_coded', 'seq_num_in_enc'], inplace=True)
joined_cohort_adt_less.head().drop(hidecols, axis=1, errors='ignore')

<ipython-input-95-5f0999d09ac5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_cohort_adt_less.sort_values(['pat_enc_csn_id_coded', 'seq_num_in_enc'], inplace=True)

,label_24hr_recent,admit_time,pat_class,pat_lv_of_care,pat_service,effective_time_jittered_utc,seq_num_in_enc
561155,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-01 17:10:00,1
561157,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:32:00,2
561153,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:32:00,3
561156,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:49:00,4
561154,0,2015-01-02 01:01:00+00:00,Emergency Services,NaN,Emergency,2015-01-02 00:49:00,5

In [ ]:
# compute the time since event
joined_cohort_adt_less['time_since_admit'] = joined_cohort_adt_less.apply(
    lambda x: x.effective_time_jittered_utc - x.admit_time, axis=1)
joined_cohort_adt_less.head()

joined_cohort_adt_less.sort_values(['pat_enc_csn_id_coded', 'seq_num_in_enc'], inplace=True)

In [ ]:
# function to get labels
def get_labels(window_hours):
    df_lofc = joined_cohort_adt_less

    # Filter df_lofc so that we only look window_hours hours into admission
    df_lofc = df_lofc[(df_lofc['time_since_admit'] < timedelta(hours=window_hours))
                      & (df_lofc.time_since_admit 
                                       >= timedelta(hours=0))]

    def was_placed_in_critical_care(arr):
        """Returns true if patient placed in crtical care within 24 hours of admit
           Assumes we have already done the 24 hours logic
           Assumes no overlapping csn ids... """
        for a in arr:
            if a == 'Critical Care':
                return 1
        return 0

    label_name = "label_{}hr".format(window_hours)
    
    df_labels = df_lofc.groupby('pat_enc_csn_id_coded').agg({
        'anon_id' : 'first',
        'admit_time' : 'first',
        'pat_lv_of_care' : was_placed_in_critical_care}).rename(
        columns={"pat_lv_of_care" : label_name}).reset_index()[['anon_id', 'pat_enc_csn_id_coded', 
                                                                'admit_time', label_name]]
    df_labels.head()

    print(df_labels.groupby(label_name).count())
    
    return df_labels

In [ ]:
labels_24hr = get_labels(24)

In [ ]:
labels_24hr.head()

In [ ]:
labels.head()

In [ ]:
labels_24hr.rename({'label_24hr':'label_24hr00'}, axis=1, inplace=True)

In [ ]:
describe_df(labels)

In [ ]:
cohort_labels = labels[labels.pat_enc_csn_id_coded.isin(cohort.pat_enc_csn_id_coded)]

In [ ]:
newlabs = cohort_labels.merge(labels_24hr[['anon_id', 'pat_enc_csn_id_coded', 'label_24hr00']], how='left')
newlabs.head()

In [ ]:
newlabs[newlabs.label_max24 != newlabs.label_24hr00]

# Old code

In [ ]:
# plot
names = [x for x in range(48)]
plt.figure(figsize=(15,8))
# Create green Bars
barlist = plt.bar(names, pos_count, color='slateblue', edgecolor='white')
barlist[24].set_color('r')

# Custom x axis

plt.xticks(names)
plt.xlabel("Hours since admit")
plt.ylabel("Positive cases")
plt.title("Positive labels X hours after admission")
 
# Show graphic
plt.show()


# plot
names = [x for x in range(48)]
plt.figure(figsize=(15,8))
# Create green Bars
barlist = plt.plot(names, pos_count, color='cornflowerblue')

# Custom x axis

plt.xticks(names)
plt.xlabel("Hours since admit")
plt.ylabel("Positive cases")
plt.title("Positive labels X hours after admission")
 
# Show graphic
plt.show()



# plot
names = [x for x in range(1,48)]
plt.figure(figsize=(15,8))
# Create green Bars
barlist = plt.plot(names, pos_count[1:], color='cornflowerblue')

# Custom x axis

plt.xticks(names)
plt.xlabel("Hours since admit")
plt.ylabel("Positive cases")
plt.title("Positive labels X hours after admission")
 
# Show graphic
plt.show()

In [ ]:
perc24 = pos_perc[24]
perc24

diffs = pos_perc - perc24
diffs

# plot
names = [x for x in range(48)]
plt.figure(figsize=(15,8))
# Create green Bars
barlist = plt.bar(names, diffs, color='dodgerblue', edgecolor='white')
# barlist[24].set_color('crimson')

# Custom x axis

plt.xticks(names)
plt.xlabel("Hours since admit")
plt.ylabel("Percent positive cases at 24hrs - Percent positive cases at X hours")
plt.title("Difference in percentage of positive labels at X hours after admission vs 24 hours after admission")
 
# Show graphic
plt.show()



# plot
names = [x for x in range(1,48)]
plt.figure(figsize=(15,8))
# Create green Bars
barlist = plt.bar(names, diffs[1:], color='dodgerblue', edgecolor='white')
# barlist[24].set_color('crimson')

# Custom x axis

plt.xticks(names)
plt.xlabel("Hours since admit")
plt.ylabel("Percent positive cases at 24hrs - Percent positive cases at X hours")
plt.title("Difference in percentage of positive labels at X hours after admission vs 24 hours after admission")
 
# Show graphic
plt.show()

# Admits only during that hour

Look at admits only at that hour to separate the cumulative effect that's going on with the earlier graphs.

In [ ]:
all_labels["admit_at_{}hr".format(0)] = all_labels["label_0hr"]
for i in range(1,48):
        key = "admit_at_{}hr".format(i)
        all_labels[key] = all_labels["label_{}hr".format(i)] & ~all_labels["label_{}hr".format(i-1)]

cols = [x for x in all_labels.columns if "admit_at" in x]
all_labels[cols]